@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


body {  
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem; 
    color: grey;
    text-align: center;
    margin: 2.5rem;
    background-color: hsl(225, 100%, 94%);
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
}

h2 {
    padding-top: 1.5rem;
    margin-top: 0;
}

h2, .annual {
    color: black;
}

h2, .annual, .button1, .button2, .change {
    font-weight: 900;
}

.card {
    background: white;
    border-radius: 15px;
    margin: auto;
    overflow: hidden;
}

.text-container {
    padding: 15px 36px;
}

.main-image {
    display: block;
}

.container {
    width: 450px;
    margin: 0 auto;
}

#plans, .change, .button1, .button2 { 
    font-family: inherit; 
}

button {
    border-radius: 10px; 
    padding: 15px 36px;
    margin: 5px auto;
    cursor: pointer;
}

.btn {
    border: none;
    display: block;
    width: 100%;
    max-width: 350px;
    margin-bottom: 10px;
}

.button1 {
    background-color: hsl(245, 75%, 52%);
    color: white;
}

.button1:hover {
    box-shadow: 0 3px 15px lightslategray;
    opacity: 0.7;
    z-index: 1;
}

.button2 {
    background-color: white;
    color: grey;
}

.button2:hover {
    color: black;
}

.change:hover {
    color: blueviolet;
    text-decoration: none;
}

#plans, .change, img.music, .annual, .price {
    display: flex;
    justify-content: center;
    align-items: center;
}

#plans {
    background-color: hsl(225, 100%, 98%);
    border: none;
    color: grey;
    margin-bottom: 20px;
}

.attribution {
    margin: 5px;
    font-size: 11px; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 375px) {
    body {
        background-image: url('../images/pattern-background-mobile.svg');
        }
}

@media screen and (max-width: 1440px) {
    body {
        background-image: url('../images/pattern-background-desktop.svg');
    }
}