@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


body {  
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px; 
    color: grey;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 4rem;
    background-color: hsl(225, 100%, 94%);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url('/Order-Summary/images/pattern-background-mobile.svg');
}

h2 {
    padding-top: 10px;
    margin-top: 0;
}

h2, .annual {
    color: black;
}

h2, .annual, .button1, .button2 {
    font-weight: 900;
}

p {
    line-height: 26px;
    margin-bottom: 25px;
}

.card {
    background: white;
    border-radius: 15px;
    margin: auto;
    overflow: hidden;
}

.text-container {
    padding: 25px;
}

.main-image {
    display: block;
    width: 100%;
}

.container {
    width: 325px;
    margin: 0 auto;
}

#plans, .change, .button1, .button2 { 
    font-family: inherit; 
}

button {
    display: block;
    border-radius: 10px;
    border: none;
    padding: 15px 36px;
    margin: 5px auto;
    font-size: 16px;
    width: 100%;
    max-width: 350px;
    margin-bottom: 10px;
    cursor: pointer;
}

.button1 {
    background-color: hsl(245, 75%, 52%);
    color: white;
}

.button1:hover {
    box-shadow: 0 3px 15px lightslategray;
    opacity: 0.7;
    z-index: 1;
}

.button2 {
    background-color: white;
    color: grey;
}

.button2:hover {
    color: black;
}

.change:hover {
    color: blueviolet;
    text-decoration: none;
}

#plans {
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 15px;
    margin: inherit;
    margin-bottom: 25px;
}

#plan-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

.change {
    font-size: 14px;
    font-weight: 700;
    padding-left: 10px;
}

.music {
     padding-right: 15px;
}

.attribution {
    margin: 5px;
    font-size: 8px; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 1200px) {
    body {
        background-position: top -100px center;
        background-image: url('/Order-Summary/images/pattern-background-desktop.svg');
        margin: 1.5rem;
    }

    h2 {
        padding-top: 1.5rem;
    }

    p {
        white-space: pre-line;
    }

    .text-container {
        padding: 15px 36px;
    }

    .main-image {
        display: block;
    }

    .container {
        width: 450px;
        margin: auto;
    }

    #plans {
        padding: 30px 20px;
        margin: 7px 14px;
        margin-bottom: 20px;
    }

    .change {
        padding-left: 10px;
    }
    
    .music {
         margin-right: 10px;
    }
    
    .attribution {
        font-size: 11px; 
    }
 
}